:root {
  --bg-normal: #272e33;
  --bg-dim: #1e2326;
  --fg: #d3c6aa;
  --red: #e67e80;
  --orange: #e69875;
  --yellow: #dbbc7f;
  --green: #a7c080;
  --teal: #83c092;
  --blue: #7fbbb3;
  --purple: #d699b6;
  --gray0: #7a8478;
  --gray1: #859289;
}

body {
  font-family: sans-serif;
  background: var(--bg-normal);
  color: var(--fg);
  line-height: 1.5;
}

h1 {
  color: var(--green);
}

header h1 {
  margin-top: 32px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--purple);
}

p code,
ul code {
  color: var(--green);
  background-color: var(--bg-dim);
  padding: 0.15em 0.5em; /* Padding around the code */
  border-radius: 4px; /* Rounded corners */
  border-color: var(--red);
  font-size: 0.9em; /* Adjust font size as needed */
}

pre {
  background-color: var(--bg-dim);
  border-radius: 12px;
  padding: 1em;
  overflow-x: auto;
}

li {
  margin-bottom: 0.2em;
}

main {
  max-width: 800px;
  margin: auto;
}

article#content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  color: var(--gray1);
  padding-top: 8px;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  clear: both;
}

/* For TAGLIST.HTML */
.taglist {
  text-align: center;
  clear: both;
  padding: 20px;
}

/* For NEXTPREV.HTML */
#nextprev {
  /* The container for both the previous and next articles. */
}

#prevart {
  float: left;
  text-align: left;
}

#nextart {
  float: right;
  text-align: right;
}

#nextart,
#prevart {
  max-width: 33%;
}

.topnav {
  overflow: hidden;
  font-size: 20px;
  padding-top: 10px;
}

.topnav a {
  float: left;
  text-align: center;
  text-decoration: none;
}

.topnav a:visited {
  color: #7fbbb3;
}

.nav-right a {
  float: right;
  padding-left: 20px;
  text-align: center;
}

#bio {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 40px;
}

#bio-left {
  flex: 0 0 auto;
  padding-right: 40px;
}

.round-img {
  border-radius: 100%;
}

#bio-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bio-text {
  padding-bottom: 12px;
  min-height: 7.5ex;
}

#socials a {
  padding-right: 6px;
}

.post-list-item {
  padding-bottom: 6px;
}

.post-list a {
  text-decoration: none;
  color: inherit;
}

.post-list-item h1 {
  margin-bottom: 0px;
  color: var(--green);
}

.post-list-item time {
  color: var(--gray1);
  font-size: 14px;
}

.read-more-text {
  color: var(--blue);
}

aside#meta div#container {
  display: flex;
  justify-content: space-between;
}

aside#meta p#date {
  text-align: left;
}
aside#meta p#wordcount {
  text-align: right;
}

aside#meta p {
  margin: 0px;
  text-align: left;
  color: var(--gray1);
  font-size: 14px;
}

#page-404 {
  text-align: center;
  padding: 10px;
}

/* Narrow windows */
@media only screen and (max-width: 600px) {
  #bio {
    flex-direction: column;
  }
}
